# Задача 5. Паром.

Получите accuracy > 0.89 на тестовом датасете. Можно пользоваться любым классификатором **из sklearn**. Ансамблями пользоваться можно.

### XtreemeGradientBoosting и нейронные сети запрещены.

In [1]:
!pip install jupyter_black
import jupyter_black
jupyter_black.load()

import time
import warnings
import pandas as pd
import numpy as np

warnings.filterwarnings("ignore")

from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler

from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, VotingClassifier, GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.utils.class_weight import compute_class_weight
from sklearn.metrics import accuracy_score

# Random state
RS = 1337

Collecting jupyter_black
  Downloading jupyter_black-0.4.0-py3-none-any.whl.metadata (7.8 kB)
Collecting black>=21 (from black[jupyter]>=21->jupyter_black)
  Downloading black-24.10.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_28_x86_64.whl.metadata (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.2/79.2 kB 2.8 MB/s eta 0:00:00
Requirement already satisfied: click>=8.0.0 in /opt/conda/lib/python3.10/site-packages (from black>=21->black[jupyter]>=21->jupyter_black) (8.1.7)
Requirement already satisfied: mypy-extensions>=0.4.3 in /opt/conda/lib/python3.10/site-packages (from black>=21->black[jupyter]>=21->jupyter_black) (1.0.0)
Collecting packaging>=22.0 (from black>=21->black[jupyter]>=21->jupyter_black)
  Downloading packaging-24.1-py3-none-any.whl.metadata (3.2 kB)
Collecting pathspec>=0.9.0 (from black>=21->black[jupyter]>=21->jupyter_black)
  Downloading pathspec-0.12.1-py3-none-any.whl.metadata (21 kB)
Requirement already satisfied: platformdirs>=2 in /opt/conda/lib/python3.10/site-packages (from black>=21->black[jupyter]>=21->jupyter_black) (3.11.0)
Requirement already satisfied: tomli>=1.1.0 in /opt/conda/lib/python3.10/site-packages (from black>=21->black[jupyter]>=21->jupyter_black) (2.0.1)
Requirement already satisfied: typing-extensions>=4.0.1 in /opt/conda/lib/python3.10/site-packages (from black>=21->black[jupyter]>=21->jupyter_black) (4.12.2)
Requirement already satisfied: ipython>=7.8.0 in /opt/conda/lib/python3.10/site-packages (from black[jupyter]>=21->jupyter_black) (8.21.0)
Collecting tokenize-rt>=3.2.0 (from black[jupyter]>=21->jupyter_black)
  Downloading tokenize_rt-6.1.0-py2.py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: decorator in /opt/conda/lib/python3.10/site-packages (from ipython>=7.8.0->black[jupyter]>=21->jupyter_black) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.10/site-packages (from ipython>=7.8.0->black[jupyter]>=21->jupyter_black) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.10/site-packages (from ipython>=7.8.0->black[jupyter]>=21->jupyter_black) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.10/site-packages (from ipython>=7.8.0->black[jupyter]>=21->jupyter_black) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from ipython>=7.8.0->black[jupyter]>=21->jupyter_black) (2.18.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.10/site-packages (from ipython>=7.8.0->black[jupyter]>=21->jupyter_black) (0.6.2)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.10/site-packages (from ipython>=7.8.0->black[jupyter]>=21->jupyter_black) (5.14.3)
Requirement already satisfied: exceptiongroup in /opt/conda/lib/python3.10/site-packages (from ipython>=7.8.0->black[jupyter]>=21->jupyter_black) (1.2.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.10/site-packages (from ipython>=7.8.0->black[jupyter]>=21->jupyter_black) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/conda/lib/python3.10/site-packages (from jedi>=0.16->ipython>=7.8.0->black[jupyter]>=21->jupyter_black) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.10/site-packages (from pexpect>4.3->ipython>=7.8.0->black[jupyter]>=21->jupyter_black) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.10/site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=7.8.0->black[jupyter]>=21->jupyter_black) (0.2.13)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython>=7.8.0->black[jupyter]>=21->jupyter_black) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython>=7.8.0->black[jupyter]>=21->jupyter_black) (2.4.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython>=7.8.0->black[jupyter]>=21->jupyter_black) (0.2.2)
Requirement already satisfied: six>=1.12.0 in /opt/conda/lib/python3.10/site-packages (from asttokens>=2.1.0->stack-data->ipython>=7.8.0->black[jupyter]>=21->jupyter_black) (1.16.0)
Downloading jupyter_black-0.4.0-py3-none-any.whl (7.6 kB)
Downloading black-24.10.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_28_x86_64.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 34.3 MB/s eta 0:00:00
Downloading packaging-24.1-py3-none-any.whl (53 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 54.0/54.0 kB 2.4 MB/s eta 0:00:00
Downloading pathspec-0.12.1-py3-none-any.whl (31 kB)
Downloading tokenize_rt-6.1.0-py2.py3-none-any.whl (6.0 kB)
Installing collected packages: tokenize-rt, pathspec, packaging, black, jupyter_black
  Attempting uninstall: packaging
    Found existing installation: packaging 21.3
    Uninstalling packaging-21.3:
      Successfully uninstalled packaging-21.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-cloud-bigquery 2.34.4 requires packaging<22.0dev,>=14.3, but you have packaging 24.1 which is incompatible.
jupyterlab 4.2.5 requires jupyter-lsp>=2.0.0, but you have jupyter-lsp 1.5.1 which is incompatible.
jupyterlab-lsp 5.1.0 requires jupyter-lsp>=2.0.0, but you have jupyter-lsp 1.5.1 which is incompatible.
libpysal 4.9.2 requires shapely>=2.0.1, but you have shapely 1.8.5.post1 which is incompatible.
thinc 8.3.2 requires numpy<2.1.0,>=2.0.0; python_version >= "3.9", but you have numpy 1.26.4 which is incompatible.
ydata-profiling 4.10.0 requires scipy<1.14,>=1.4.1, but you have scipy 1.14.1 which is incompatible.
Successfully installed black-24.10.0 jupyter_black-0.4.0 packaging-24.1 pathspec-0.12.1 tokenize-rt-6.1.0

In [2]:
df = pd.read_csv(
    "/kaggle/input/passenger-list-for-the-estonia-ferry-disaster/estonia-passenger-list.csv",
    index_col="PassengerId",
)
df = df.reset_index(drop=True)

## 1. Первичный анализ

In [3]:
def get_data_info(data):
    display(data.head(40))
    display(data.describe(include="all"))
    data.info()


get_data_info(df)

    Country              Firstname    Lastname Sex  Age Category  Survived
0    Sweden            ARVID KALLE       AADLI   M   62        P         0
1   Estonia                    LEA     AALISTE   F   22        C         0
2   Estonia                   AIRI     AAVASTE   F   21        C         0
3    Sweden                   JURI       AAVIK   M   53        C         0
4    Sweden        BRITTA ELISABET    AHLSTROM   F   55        P         0
5    Sweden     GERD INGA MAGNHILD    AHLSTROM   F   71        P         0
6    Sweden                HJALMAR    AHLSTROM   M   60        P         0
7   Estonia                  PILLE       AHMAN   F   18        P         0
8   Estonia                  TORMI     AINSALU   M   30        C         0
9    Sweden             ANNA MARIA      ALDRIN   F   63        P         0
10   Sweden            LARS BERTIL      ALDRIN   M   67        P         0
11  Estonia                  NELLI   ALEKSEEVA   F   61        P         0
12  Estonia                  URMAS     ALENDER   M   40        C         0
13   Sweden                 TAMARA        ALEP   F   68        P         0
14  Estonia                 KATRIN        ALLA   F   36        C         0
15  Estonia                   LINE        ALLA   F   23        C         0
16  Estonia                 ARMIDO       ALLAS   M   31        P         0
17   Sweden    BENGT SOLVE INGEMAR         ALM   M   74        P         0
18   Sweden    GUN DAGMAR INGEGERD         ALM   F   68        P         0
19   Sweden       CARL OLOF INGVAR    ALMQUIST   M   56        P         0
20   Sweden          HJORDIS IRENE  ANDERLJUNG   F   63        P         0
21  Estonia                   PAUL    ANDERSON   M   32        C         1
22   Sweden        AGNE KARL ARVID   ANDERSSON   M   62        P         0
23   Sweden              ANNA LENA   ANDERSSON   F   28        P         0
24   Sweden    INGRID VIOLA AMALIA   ANDERSSON   F   72        P         0
25   Sweden          IRIS VIKTORIA   ANDERSSON   F   75        P         0
26   Sweden             JILL MARIA   ANDERSSON   F   33        P         0
27   Sweden        KAJ OLAV ARTHUR   ANDERSSON   M   42        P         0
28   Sweden              KARL ERIK   ANDERSSON   M   74        P         0
29   Sweden            LARS MAGNUS   ANDERSSON   M   33        C         0
30   Sweden        MONICA INGEGERD   ANDERSSON   F   41        P         0
31   Sweden             PER ALBERT   ANDERSSON   M   50        P         1
32   Sweden           RUT INGEGERD   ANDERSSON   F   65        P         0
33   Sweden             RUTH INGER   ANDERSSON   F   39        P         0
34   Sweden     ULLA GUNVOR LINNEA   ANDERSSON   F   69        P         0
35   Sweden  VIVI INGEBORG MARIANN   ANDERSSON   F   65        P         0
36   Sweden             AKE HILMER   ANDERSSON   M   70        P         0
37   Latvia               NIKOLAJS   ANDREJEVS   M   36        P         1
38  Estonia                   ARVO   ANDRESSON   M   40        C         0
39  Estonia                   ALLA       ANNUS   F   38        C         0

       Country Firstname   Lastname  Sex         Age Category    Survived
count      989       989        989  989  989.000000      989  989.000000
unique      16       849        774    2         NaN        2         NaN
top     Sweden    ANDRES  ANDERSSON    M         NaN        P         NaN
freq       550         8         15  503         NaN      796         NaN
mean       NaN       NaN        NaN  NaN   44.575329      NaN    0.138524
std        NaN       NaN        NaN  NaN   17.235146      NaN    0.345624
min        NaN       NaN        NaN  NaN    0.000000      NaN    0.000000
25%        NaN       NaN        NaN  NaN   30.000000      NaN    0.000000
50%        NaN       NaN        NaN  NaN   44.000000      NaN    0.000000
75%        NaN       NaN        NaN  NaN   59.000000      NaN    0.000000
max        NaN       NaN        NaN  NaN   87.000000      NaN    1.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 989 entries, 0 to 988
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    989 non-null    object
 1   Firstname  989 non-null    object
 2   Lastname   989 non-null    object
 3   Sex        989 non-null    object
 4   Age        989 non-null    int64
 5   Category   989 non-null    object
 6   Survived   989 non-null    int64
dtypes: int64(2), object(5)
memory usage: 54.2+ KB

In [4]:
# Проверка на пропуски
pd.DataFrame(
    round(
        df.isna().mean() * 100,
    )
).style.background_gradient("coolwarm")

### Вывод:
1. Категориальные признаки Country, Sex, Category необходимо закодировать
2. Колонку с возрастом можем сделать категориальной
3. Колонки с именем и фамилией не информативны, удалим их
4. Пропусков нет

## 2. Подготовка данных

### 2.1. Добавим категориальный столбец для возраста

In [5]:
def age_type(line):

    if not line:
        return "None"

    if line > 64:
        return "Old"

    if line > 30:
        return "Middle"

    if line > 17:
        return "Young"

    if line > 2:
        return "Child"

    return "Baby"


df["AgeType"] = df["Age"].apply(age_type)

### Большинство пассажиров было из Швеции и Эстонии, оставим эти страны, остальные объединим под одним типом

In [6]:
df["CountryType"] = df.Country.apply(
    lambda x: "Estonia" if x == "Estonia" else ("Sweden" if x == "Sweden" else "Others")
)

### 2.2. Обозначим признаки и цель прогнозирования

In [7]:
features = df.drop(["Survived", "Country", "Firstname", "Lastname"], axis=1)
target = df["Survived"]

### 2.3. Разобъем данные на обучающую и тестовую выборки

In [8]:
X_train, X_test, y_train, y_test = train_test_split(
    features,
    target,
    test_size=0.3,
    random_state=RS,
    stratify=df["Survived"],
)

### 2.4. Кодирование данных

In [9]:
numeric_features = ["Age"]
categorical_features = ["Sex", "Category", "AgeType", "CountryType"]

column_transformer = ColumnTransformer(
    transformers=[
        (
            "ohe",
            OneHotEncoder(handle_unknown="ignore", sparse_output=False),
            categorical_features,
        ),
        ("scaling", StandardScaler(), numeric_features),
    ],
    remainder="passthrough",
)

## 3. Обучение модели
Обучаем ансамбль моделей: knn, gradient boosting, linear regression, random forest. Используем баланс классов

In [10]:
knn = Pipeline(
    steps=[
        ("preprocessor", column_transformer),
        (
            "classifier",
            KNeighborsClassifier(),
        ),
    ]
)

gb = Pipeline(
    steps=[
        ("preprocessor", column_transformer),
        (
            "classifier",
            GradientBoostingClassifier(random_state=RS),
        ),
    ]
)

lr = Pipeline(
    steps=[
        ("preprocessor", column_transformer),
        (
            "classifier",
            LogisticRegression(random_state=RS, class_weight="balanced"),
        ),
    ]
)

rf = Pipeline(
    steps=[
        ("ohe_and_scaling", column_transformer),
        (
            "BalanceRF",
            RandomForestClassifier(
                class_weight={0: 0.423, 1: 0.589},
                random_state=RS,
                n_estimators=500,
                n_jobs=-1,
            ),
        ),
    ]
)

ensemble = VotingClassifier(
    estimators=[
        ("rf", rf),
        ("lr", lr),
        ("gb", gb),
        ("knn", knn),
    ],
    voting="soft",
)

## 4. Проверка на тестовой выборке

In [11]:
model = ensemble.fit(X_train, y_train)
y_preds = model.predict(X_test)
acc = accuracy_score(y_test, y_preds)

acc

0.8585858585858586